:root {
  --success: #03d087;
  --warning: #f2994a;
  --error: #d82045;
  --main: #10a8c9;
  --inactive: #2D9CDB;
  --grey-light: #d7dbe2;
  --grey-main: #9ca4b3;
  --grey-dark: #515b6c;
  --bg: #f9f9fa;
  --profile-block: #263650;
  --black: #10203b;
  --white: #ffffff;
}
