.checkbox {
    display    : flex;
    align-items: center;
    column-gap : 6px;

    input {
        appearance   : none;
        width        : 18px;
        height       : 18px;
        border       : 1px solid var(--grey-main);
        margin-right : 13px;
        border-radius: 5px;
        cursor       : pointer;

    }
}